@media screen and (max-width: 2000px) {
  .infoCards {
    grid-template-columns: 20% 1fr 1fr 1fr 25%;
  }
}
@media screen and (max-width: 1051px) {
  .burger {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .menu {
    display: none;
  }

  nav {
    justify-content: left;
    align-items: center;
  }

  nav p {
    flex-basis: 80%;
  }

  /* .burger code and nav.active code shared in class */
  .burger {
    display: block;
    align-items: flex-end;
    width: 30px;
    height: 20px;
    cursor: pointer;
    flex-basis: 10%;
  }

  .burger .line {
    width: 30px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #000000;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: 10vh;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 20px 0;
  }

  nav.active .menu a {
    font-size: 20px;
  }

  .logoText {
    font-size: 22px;
  }

  .bannerBoxTip {
    font-size: 12px;
  }

  p {
    font-size: 12px;
    line-height: 2;
  }

  h1 {
    font-size: 22px;
    line-height: 1.5;
  }

  h2 {
    font-size: 14px;
  }

  .sunnyObject {
    display: none;
  }

  .introSection h1,
  .introSection p {
    max-width: 100%;
    margin-left: 10%;
    margin-right: 30%;
  }

  .cardButton {
    font-size: 12px;
    padding: 5px 10px;
  }

  .background-object {
    display: none;
  }

  .bbImage {
    display: none;
  }

  .infoCards {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .infoCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1em;
    margin-right: 0;
    max-width: 100%;
  }

  .rightInfoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 350px;
  }

  .infoCard_1 {
    margin-left: 2em;
    border-bottom-left-radius: 30px;
  }

  .infoCard_2 {
    margin-right: 2em;

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .infoCard_3 {
    margin-left: 2em;

    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 0;
  }

  .bottomBanner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bbBox {
    background-color: #f8f6f7;
    border-color: #f8f6f7;
    margin-right: 30%;
  }

  .bbBox img {
    margin: 2em 0;
  }

  .bbBox h2 {
    font-size: 18px;
  }

  .bbBox_3 {
    order: 1;
  }

  .footerItems a,
  .footerItems p,
  footer p {
    font-size: 14px;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .introSection h1,
  .introSection p {
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .bbBox {
    margin-right: 0;
  }
}
